<%- model_class = Lancamento  -%>
<div class='page-header'>
  <h2>Detalhes do Lançamento</h2>
</div>

<strong><%= model_class.human_attribute_name(:lancamento) %>:</strong>
  <%= @lancamento.id %>
<br><strong><%= model_class.human_attribute_name(:obra) %>:</strong>
  <%= Obra.find(@lancamento.obra).obra %>
<br><strong><%= model_class.human_attribute_name(:fornecedor) %>:</strong>
  <%= Fornecedore.find(@lancamento.fornecedor).fornecedor %>
<br><strong><%= model_class.human_attribute_name(:valor) %>:</strong>
  <%= number_to_currency(@lancamento.valor) %></strong>

<hr>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:produto) %></th>
      <th><%= model_class.human_attribute_name(:quantidade) %></th>
      <th><%= model_class.human_attribute_name(:valor) %></th>
      <th>Valor Total</th>
    </tr>
  </thead>
  <tbody>
    <% @produtos.each do |produto| %>
      <tr>
        <td><%= Produto.find(produto.produto).descricao %></td>
        <td><%= produto.quantidade %></td>
        <td><%= number_to_currency(produto.valor) %></td>
        <td><%= number_to_currency(produto.valor * produto.quantidade) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr>
<table class='table table-striped'>
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:vencimento) %></th>
      <th><%= model_class.human_attribute_name(:valor) %></th>
    </tr>
  </thead>
  <tbody>
    <% @pagamentos.each do |pagamento| %>
      <tr>
        <td><%=l pagamento.vencimento %></td>
        <td><%= number_to_currency(pagamento.valor) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr>
<div class="form-actions">

</div>
