<%= form_for @obra, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :obra, :class => 'control-label' %>
    <%= f.text_field :obra, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :inicio, :class => 'control-label' %>
    <%= f.date_select :inicio, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :fim, :class => 'control-label' %>
    <%= f.date_select :fim, :class => 'form-control' %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                obras_path, :class => 'btn' %>
  </div>
<% end %>
